@import url("https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite IS", cursive;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  font-size: 1em;
}

.ui-draggable, .ui-droppable {
  background-position: top;
}

body {
  width: 100%;
  height: calc(100vh - 100px);
}

header {
  width: 100vw;
  height: 50px;
  background-color: #EECEB9;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.125rem;
}
header i {
  color: #8D493A;
}
header i:hover {
  cursor: pointer;
}
header i:active {
  transform: scale(0.95);
}
header h1 {
  font-size: 1.125rem;
  text-decoration: underline;
  color: #8D493A;
  font-weight: bold;
}

nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #EECEB9;
  overflow-y: auto;
  z-index: 1;
  display: none;
}
nav .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.813rem;
}
nav .header h2 {
  font-size: 1.125rem;
  color: #8D493A;
}
nav .header i {
  font-size: 1.625rem;
  color: #8D493A;
}
nav .header i:hover {
  cursor: pointer;
}
nav .header i:active {
  transform: scale(0.95);
}
nav .interactions {
  padding: 0.813rem;
}
nav .interactions h3 {
  background-color: #FEFBD8;
  padding: 0.413rem;
}
nav .interactions ul {
  padding: 0.413rem;
  list-style: none;
}
nav .interactions ul li {
  margin-bottom: 0.413rem;
}
nav .interactions ul li a {
  color: #e980c9;
}
nav .interactions ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

aside {
  display: none;
  position: fixed;
  width: 50px;
  height: calc(100vh - 90px);
  right: 0;
  top: 50px;
  background-color: #EECEB9;
}
aside marquee {
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #8D493A;
}

main {
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #FEFBD8;
  padding: 0.625rem;
}
main section h2 {
  font-size: 1.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 10px solid #EECEB9;
}
main section h2 + p {
  padding: 0.413rem;
}
main section .experiment-div {
  width: 100%;
  min-height: 50vh;
  border: 1px solid #8D493A;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
main section .experiment-div .app {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main section .experiment-div .app:hover {
  background-color: rgba(190, 183, 183, 0.4196078431);
}
main section .experiment-div .app i {
  font-size: 1.813rem;
}
main section .experiment-div .app span {
  font-size: 0.625rem;
  font-weight: bold;
}
main section#droppable .experiment-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
main section#droppable .experiment-div p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main section#droppable .experiment-div p span {
  display: flex;
  flex-direction: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  font-weight: bold;
  font-style: normal;
  background-color: rgba(0, 0, 0, 0.1);
}
main section#droppable .experiment-div p span.result {
  cursor: pointer;
}
main section#resizable .experiment-div img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
main section#selectable .experiment-div,
main section#sortable .experiment-div {
  max-height: 50vh;
  overflow-y: scroll;
}
main section#selectable .experiment-div ol,
main section#sortable .experiment-div ol {
  width: 50%;
  list-style: none;
}
main section#selectable .experiment-div ol .ui-selecting,
main section#sortable .experiment-div ol .ui-selecting {
  background: #EECEB9;
}
main section#selectable .experiment-div ol .ui-selected,
main section#sortable .experiment-div ol .ui-selected {
  background: #EECEB9;
}
main section#selectable .experiment-div ol li,
main section#sortable .experiment-div ol li {
  border: 1px solid #e980c9;
  padding: 0.625rem;
  margin-bottom: 0.413rem;
  font-weight: bolder;
  color: #8D493A;
}
main section#accordion #accordion-section h3 {
  color: #8D493A;
  background-color: #EECEB9;
}
main section#accordion #accordion-section h3:focus {
  background-color: #8D493A;
  color: #FEFBD8;
}
main section#accordion #accordion-section div {
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: visible;
  height: 30vh;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  background-color: #EECEB9;
  text-align: center;
  padding-top: 10px;
  font-size: 0.813rem;
  color: #8D493A;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer a {
  color: #8D493A;
}
footer a:hover {
  color: #FEFBD8;
}/*# sourceMappingURL=main.css.map */