@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');


$color1: #FEFBD8;
$color2: #EECEB9;
$color3: #BB9AB1;
$color4: #8D493A;


$font-xxs: 0.125rem;
$font-xs: 0.413rem;
$font-sm: 0.625rem;
$font-md: 0.813rem;
$font-lg: 1.125rem;
$font-xl: 1.625rem;
$font-xll: 1.813rem;

$padding-xxs: 0.125rem;
$padding-xs: 0.413rem;
$padding-sm: 0.625rem;
$padding-md: 0.813rem;
$padding-lg: 1.125rem;
$padding-xl: 1.625rem;
$padding-xll: 1.813rem;


$margin-xxs: 0.125rem;
$margin-xs: 0.413rem;
$margin-sm: 0.625rem;
$margin-md: 0.813rem;
$margin-lg: 1.125rem;
$margin-xl: 1.625rem;
$margin-xll: 1.813rem;




@mixin d-flex($d, $jc, $ai){
    display: flex;
    flex-direction: $d;
    justify-content: $jc;
    align-items: $ai;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite IS", cursive;
}



body{
    width: 100%;
    height: calc(100vh - 100px);
}

header{
    width: 100vw;
    height: 50px;
    background-color: $color2;
    text-align: center;
    @include d-flex(row, space-between, center);
    padding: 0 $padding-lg;
    i{
        color: $color4;
        &:hover{
            cursor: pointer;
        }
        &:active{
            transform: scale(0.95);
        }
    }
    h1{
        font-size: $font-lg;
        text-decoration: underline;
        color: $color4;
        font-weight: bold;
    }
}

nav{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $color2;
    overflow-y: auto;
    z-index: 1;
    display: none;
    .header{
        @include d-flex(row, space-between, center);
        padding: $padding-md;
        h2{
            font-size: $font-lg;
            color: $color4;
        }
        i{
            font-size: $font-xl;
            color: $color4;
            &:hover{ cursor: pointer;}
            &:active{ transform: scale(0.95);}
        }
    }
}

aside{
    display: none;
    position: fixed;
    width: 50px;
    height: calc(100vh - 90px);
    right: 0;
    top: 50px;
    background-color: $color2;
    marquee{
        height: 100%;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: $color4;
    }
}

main{
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: $color1;
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    background-color: $color2;
    text-align: center;
    padding-top: 10px;
    font-size: $font-md;
    color: $color4;
    padding: $padding-sm;
    @include d-flex(row, center, center);
    a{
        color: $color4;
        &:hover{
            color: $color1;
        }
    }
}